@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Define the animation */
@keyframes underline {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

/* Apply the animation to the text */
.nav__text {
	position: relative;
	display: inline-block;
}

.nav__text::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: black;
	transition: width 0.5s ease-in-out;
}

.nav__text:hover::before {
	width: 100%;
	animation-name: underline;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.logo {
	font-family: "Roboto", sans-serif;
}
/* Navbar style */
.navbar-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 4px;
}

.navbar-toggle-icon {
	display: block;
	width: 25px;
	height: 3px;
	background-color: black;
	transition: all 0.3s ease-in-out;
}

.navbar-toggle-icon::before,
.navbar-toggle-icon::after {
	content: "";
	display: block;
	width: 25px;
	height: 3px;
	background-color: black;
	position: absolute;
	transition: all 0.3s ease-in-out;
}

.navbar-toggle-icon::before {
	transform: translateY(-8px);
}

.navbar-toggle-icon::after {
	transform: translateY(8px);
}

.navbar-toggle.active .navbar-toggle-icon {
	transform: rotate(45deg);
	background-color: transparent;
}

.navbar-toggle.active .navbar-toggle-icon::before {
	transform: translateY(0) rotate(0deg);
}

.navbar-toggle.active .navbar-toggle-icon::after {
	transform: translateY(0) rotate(-90deg);
}
/* IMAGE GALLERY  */
.productitem__container:hover .top-image {
	opacity: 0;
}
/* .gallery__parent__text {
	transform: scale(0.5);
	animation: scale 3s ease-in cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
	100% {
		transform: scale(1);
	}
}
.gallery__child__text {
	display: inline-block;
	opacity: 0;
	filter: blur(4px);
}
.gallery__child__text:nth-child(1) {
	animation: fade-in 10s forwards ease-in infinite;
}

.gallery__child__text:nth-child(2) {
	animation: fade-in 10s forwards ease-in infinite;
}

.gallery__child__text:nth-child(3) {
	animation: fade-in 10s forwards ease-in infinite;
}
@keyframes fade-in {
	10% {
		opacity: 1;
		filter: blur(0);
	}
} */

/* //GRID */
.grid__image {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
}

.grid__image-1 {
	grid-area: 1 / 3 / 3 / 5;
}
.grid__image-2 {
	grid-area: 3 / 4 / 5 / 5;
}
.grid__image-3 {
	grid-area: 3 / 3 / 5 / 4;
}
.grid__image-4 {
	grid-area: 1 / 1 / 5 / 3;
}
